.imagem-login-fundo {
    display: flex;
    flex-grow: 0;
    max-width: 100%;
    flex-grow: 0; 
}

.imagem-login-logo {
    width: 271px;
    height: 91px;
}

.imagem-login {
    display: flex;
    flex-direction: row;
    width: 33.3333333%;
    height: 100%;
    background-image: url('../../images/fundo-tela-login.png'); 
    background-position: center 0;
    background-size: auto;
    opacity: 0.3;
}
